body {
  background-image: url(./img/IMG_3503.jpeg);
  background-size: cover;
  min-height: 100vh;
}

#bike {
  width: 100%;
  height: auto;
  border-radius: 100%;
  margin-top: 20px;
  padding: 30px;
}

#about-me {
  margin-top: 60px;
  background-color: #37474f;
  border-radius: 20px;
  color: white;
}

#break {
  height: 1px;
  background-color: white;
}

.about {
  margin-top: 30px;
}